<DOCTYPE html>
    <html>
    <head>
      <title>Vue Demo #1: The Box App</title>
      <meta charset='utf-8' />
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue-ellipse-progress/dist/vue-ellipse-progress.umd.min.js"></script>

    </head>
    <body>
      <h1>Vue Circle</h1>
    
      <div id="vapp">
          <vue-ellipse-progress 
          progress='<%= data.buyInPercentage %>'
          line = "butt"
          color="green"
          empty-color="blue"
          legend = "true"
          legend-value = "rating"
          animation="bounce 1000"
          angle="angle"
          gap="30"
          thickness="20"
          empty-thickness="20">
        
          <div slot='legend-caption' style="color:grey"><%= data.currentValue %> BTC</div>
          <div slot='legend-caption' style="font-size:30px; font-weight:550; padding-bottom: 10px;; padding-top: 10px;">$ <%= data.currentPrice %>.00</div>
          <div slot='legend-caption' style="color:grey">$ <%= data.buyInPrice %></div>
          <div slot='legend-caption' style="color:grey">Buy In</div>
          </vue-ellipse-progress>
      </div>

    <script>
    
    Vue.component('ColoredBox', {
      methods : {
          progress(){ return 10;}
      }
    })
  
    
    
    const vueApp = new Vue({
      el: '#vapp',
    })
    </script>
    <script>

    </script>
    </body>
    </html>